
source/BattlestateGames/bin/Debug/BattlestateGames.dll
source/BattlestateGames/bin/Debug/BattlestateGames.pdb
source/BattlestateGames/bin/Debug/extension.yaml
source/BattlestateGames/bin/Debug/icon.png
source/BattlestateGames/bin/Debug/Playnite.SDK.dll
source/BattlestateGames/bin/Debug/Playnite.SDK.pdb
source/BattlestateGames/bin/Debug/Playnite.SDK.xml
source/BattlestateGames/obj/Debug/BattlestateGames.csproj.AssemblyReference.cache
source/BattlestateGames/obj/Debug/BattlestateGames.csproj.CopyComplete
source/BattlestateGames/obj/Debug/BattlestateGames.csproj.CoreCompileInputs.cache
source/BattlestateGames/obj/Debug/BattlestateGames.csproj.FileListAbsolute.txt
source/BattlestateGames/obj/Debug/BattlestateGames.dll
source/BattlestateGames/obj/Debug/BattlestateGames.pdb
source/BattlestateGames/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.cs
